body {
  background-image: url(background.jpg);

}

.card {
  border: solid;
  border-color: red;
  width: 100%;
}

.card-image {
  width: 100%;
  min-height: 40vh;

}

.boss-img {
  width: 50vh;
}

.hero-card {
  background-color: gray;
  height: 63vh;

}

.boss-card {
  background-image: url(background.jpg);
  color: rgb(22, 238, 36);

}